fastapi==0.115.2
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
alembic==1.13.3
psycopg2-binary==2.9.10
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
boto3==1.35.54
pydantic-settings==2.6.0
requests==2.32.3
numpy==1.26.4
pillow==11.0.0
scikit-learn==1.5.2
joblib==1.4.2
tensorflow==2.17.0
scipy==1.14.1
librosa==0.10.2.post1
